<!-- wp:template-part {"slug":"header","area":"header"} /-->
<!-- wp:group {"tagName":"main","className":"bixie-page bixie-journal-page","layout":{"type":"constrained"}} -->
<main class="wp-block-group bixie-page bixie-journal-page"><!-- wp:post-title {"level":1} /--><!-- wp:post-date /--><!-- wp:post-featured-image {"sizeSlug":"full"} /--><!-- wp:post-content {"layout":{"type":"constrained"}} /--><!-- wp:post-terms {"term":"category"} /--></main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
